server:
  port: 8083

spring:
  application:
    name: reminder-service
  datasource:
    url: jdbc:h2:mem:reminderdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

artemis:
  queue:
    notifications: queue.tony.reminder.notifications
